/* @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@300"); */
@import "tailwindcss";

.bg-radial-blue {
  background: radial-gradient(
    100% 100% at 58.77% 0%,
    rgba(10, 71, 192, 0.67) 0%,
    #dbe7fe 100%
  );
  border: 3px solid;
  border-color: white;
  border-radius: 20px;
}

.bg-radial-blue-2 {
  background: radial-gradient(
    161.09% 161.09% at 58.77% 0%,
    rgba(26, 42, 108, 0.73) 14.9%,
    rgba(38, 113, 255, 0.73) 54.33%
  );
  border: 3px solid;
  border-color: white;
  border-radius: 20px;
}

.bg-linear-purple {
  background: linear-gradient(
    240.88deg,
    #a599ff 3.29%,
    #7b78e4 18.81%,
    #5442b7 51.44%,
    #000980 94.23%
  );
  border: 3px solid rgba(139, 162, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bg-linear-green {
  background: linear-gradient(
    61.86deg,
    #256e1d 9.14%,
    #2aa032 49.59%,
    #32c248 76.12%,
    #51d437 90.86%
  );
  border: 3px solid rgba(198, 255, 201, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-title-color {
  color: rgba(0, 128, 128, 1);
}

.ne-accent {
  background: var(--NE-Accent, rgba(212, 175, 55, 1));
}

.is-active-menu {
  background: rgba(255, 255, 255, 0.75);
  color: var(--ne-primary-blue, rgba(26, 42, 108, 1));
}

.is-active-menu-text {
  color: var(--ne-primary-blue, rgba(26, 42, 108, 1));
}

.bg-top-10 {
  background: #e6f2f2;
  border-radius: 10px;
}

.bg-title-chart {
  background: #ebf2ff;
  border-radius: 10px;
}

.bg-title-diagram {
  background: #e8eaf0;
  border-radius: 10px;
}
