/* @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@300"); */
@import "tailwindcss";

.bg-radial-blue {
  background: radial-gradient(
    100% 100% at 58.77% 0%,
    rgba(10, 71, 192, 0.67) 0%,
    #dbe7fe 100%
  );
  border: 3px solid;
  border-color: white;
  border-radius: 20px;
}

.bg-radial-blue-2 {
  background: radial-gradient(
    161.09% 161.09% at 58.77% 0%,
    rgba(26, 42, 108, 0.73) 14.9%,
    rgba(38, 113, 255, 0.73) 54.33%
  );
  border: 3px solid;
  border-color: white;
  border-radius: 20px;
}
